# Connexion Postgres locale (Docker Compose)
DATABASE_URL="postgresql://ro_user:ro_dev_password@localhost:5432/ro_dev?schema=public"

# Application
PORT=3000
NODE_ENV=development

# Logging
LOG_LEVEL=debug
